.search-bar{
    display: flex;
    justify-content: space-between;
}
.input-wrapper {
  background-color: white;
  width: 20%;
  border-radius: 10px;
  height: 3rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  margin-left: 5px;
  color: black;
  width: 100%;
}

input:focus {
  outline: none;
}

#search-icon {
  color: royalblue;
}

.dropdown-wrapper {
  position: relative;
  width: 50%;
  margin-top: 10px;
  height: 3rem;
}

.dropdown-wrapper select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  appearance: none;
  background-color: rgb(10, 10, 10);
  cursor: pointer;
  
}

.dropdown-wrapper select:focus {
  outline: none;
  border-color: royalblue;
}

.dropdown-wrapper::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: transform 0.3s ease;
}

.dropdown-wrapper select:focus + .dropdown-wrapper::after {
  transform: translateY(-50%) rotate(180deg);
}

.results {
  margin-top: 20px;
}

.result-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
