*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.alcher-app{
    background-color: #000014;
    background-image: url(_components/texture1.png);
    position: relative;
    width: 100%;
    height: fit-content;
    color: aliceblue;
    margin-bottom: 10vh;

}
.phone{
    height: fit-content;
}
.feelinglost{
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 28%;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.phone{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute;
    padding-left: 1%;
    padding-top: 7%;
    z-index: 9;
    /* margin-top: 4%;
    margin-right: 1.7%; */
}

.text{
    width: 93%;
    /* justify-self: center; */
    position: absolute; 
     z-index: 4;   
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.get-app-btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-text{
    display: none;
}

.feelinglost{
    display: none;
}
.noneed{
    display: none;
}
.wegotyou{
    display: none;
}
.covered{
    display: none;
}
.atext{
    display: none;
}
.b1text{
    display: none;
}

/* 
1408-1216
1215-1024
1023-768
767-482
481-320
 */


@media screen  and (max-width:1300px){
  
    .phone{
        scale: 0.7;
        /* left: 37%;
        top: 20%; */
    }
}


@media screen  and (max-width:1024px){
   
    .phone{
        scale: 0.7;
        left: 35%;
        top: 17%;
    }
}

@media screen  and (max-width:900px){
   
    .phone {
        scale: 0.6;
        left: 32%;
        /* position: fixed; */
        top: 19%;
    }
    .get-app-btn{
        scale: 0.8;
        left: 43%;
        /* bottom: 0; */
    }
}
@media screen  and (max-width:804px){
  
    .phone {
        scale: 0.55;
        left: 30%;
        /* position: fixed; */
        top: 19%;
    }
    .get-app-btn{
        scale: 0.8;
        left: 43%;
        /* bottom: 0; */
    }
}
@media screen  and (max-width:744px){
   
    .phone {
        scale: 0.5;
        left: 29%;
        /* position: fixed; */
        top: 19%;
    }
    .get-app-btn{
        scale: 0.8;
        left: 43%;
        /* bottom: 0; */
    }
}

@media screen  and (max-width:700px){
    
    .phone {
        scale: 0.5;
        left: 28%;
        /* position: fixed; */
        top: 20%;
    }
    .get-app-btn{
        scale: 0.8;
        left: 43%;
        /* bottom: 0; */
    }
}

@media screen and (max-width:675px){
    .text{
        display: none;
    }
    .phone{
        scale:0.85;
        top: 40%;
        
        justify-self: center;
    }
    .flex{

        height: 120vh;
    }
    .mobile-text{
        scale:0.9;
        display: block;
        position: absolute;
        top: 23%;
        left: 45%;
        transform: translate(-50%, -50%);
    }
    /* .covered{
        display: block;
        position: absolute;
    }
    
    .phone{
        scale:0.8;
    }
    .noneed {
        display: block;
        position: absolute;
        scale: 1.3;
        top: 21%;
        left: 33%;
    }

    .wegotyou {
        display: block;
        position: absolute;
        top: 29%;
        left: 4%;
    }
    .atext{
        display: block;
        position: absolute;
    }
    .b1text{
        display: block;
        position: absolute;
    }
    .feelinglost{
        display: block;
        position: absolute;
    } */
}




/* @media (min-width:482px) and (max-width: 768px){
    .text{
        display: none;
    }
    .phone {
        scale: 1.5;
        left: 37%;
        top: 44%;
    }
       .feelinglost {
        display: block;
        position: absolute;
        scale: 1.4;
        top: 9%;
        left: 14%;
    }

    .covered{
        display: block;
        position: absolute;
    }
    .noneed {
        display: block;
        position: absolute;
        scale: 1.3;
        top: 21%;
        left: 33%;
    }

    .wegotyou {
        display: block;
        position: absolute;
        top: 29%;
        left: 4%;
    }
    .atext{
        display: block;
        position: absolute;
    }
    .b1text{
        display: block;
        position: absolute;
    }
} */

/* @media (min-width:750px) and (max-width:1021px){
    .text{
        scale: 0.6;
        justify-content: center;
        align-items: center;
        transform: translate(-70%, -60%);
    }
    .phone{
        scale: 0.6;
        
        left: 34%;
        top: 21%;
    }
}

@media (min-width:320px) and (max-width:750px){


    .text{
        display: none;
    }
    .phone{
        scale: 0.6;
        left: 34%;
        top: 21%;
    }
    .feelinglost{
        display: block;
        position: absolute;
    }
  
    
}  */


/* 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.alcher-app{
    background-color: #000014;
    height: fit-content;
    color: aliceblue;

}
.phone{
    height: fit-content;
}  */