@font-face {
  font-family: 'Brick_Pixel';
  src: url('./_components/Brick_Pixel.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Game_Type';
  src: url('./_components/Game_Tape.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Stone_Slab';
  src: url('./_components/Stone_Slab.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  .events {
    width:100vw;
   
   padding-bottom: 20px;
    text-align: center;
    background-color: rgb(0 0 20);
  }
  .heading{
    display:flex;
    flex-direction: row;

  }
.header-section{
  width:60%;
}
  .header-section .intro h1{
    font-size: 3rem;
    margin:0;
   font-weight:400;
    font-family: 'Stone_Slab', sans-serif;
    color:#FFEBD3;
    text-align: left;
  }
  
  .header-section .intro h1 span {
    
  }
  
  .header-section .highlight {
    
  }
  
  .random-text-container {
    position: relative;
   width:30%;
    
   
    
  }
  .intro{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    row-gap:5px;
  }
  .random-text {
    position: absolute;
   font-size: 0.8rem;
   color:#FFEBD3;
   
  
  }
  
  
  #rndtext1{
    transform: translate(700px, -200px);
  }
  #rndtext2{
    transform: translate(800px, -150px);
  }
  #rndtext3{
    transform: translate(900px, -60px);
  }
  .lines{
    width:100%;

  }

  .cards-section {
    display: flex;
    flex-direction: row;
    column-gap:30px;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .event-card {
    border: 2px solid rgb(254 57 137);
    padding: 8px;
    padding-left: 0px;
    position: relative;
    width: 25%;
    height: 25%;
    overflow: hidden;
    
  }
  
  .event-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .event-card .card-title {
    background-color: rgb(0 0 20);
    color: #f4f4f4;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    border-top: 2px solid rgb(254 57 137);
  }
  
 
  .events-text {
   padding-right: 30px;
    position: relative;
    width: 25%;
    height: 60%;
    overflow: hidden;
    margin-left: 0px;
    /* margin-right: 10px; */
  }
  
  .events-text h2 {
    font-family: 'Game_Type', sans-serif;
    text-align: left;
    padding-top: 5px;
    font-size: 1.5rem;
    color:#FFEBD3;
    padding-bottom: 9px;
  }
  
#event-crd{
  margin-left: 40px;
}

  .events-text p {
    font-family: 'Game_Type', sans-serif;
    font-size: 1rem;
    color: rgba(255, 235, 211, 0.7);
    margin: 20px 0;
  }
  
  .events-button {
    background-color: rgb(254 57 137);
    color: #f4f4f4;
    border: none;
    padding: 10px 20px;
   margin-top: 30px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .events-button:hover {
    background-color: rgb(254 57 137);
  }
   #inst2 {
    padding-left: 50%;
  }
  .high{
    display: flex;
    flex-direction: row;

  }
  #inst3 {
    padding-left: 30%;
    
  }
  #inst1{
    padding-left:20%;
  }
  .highlight{
    color:rgb(254 57 137);
  }
  .underline{
    width: 57%;
    height:30%;
    margin-bottom: 10px;
    
  }

  #inst2 span{

    color:rgb(254 57 137);
  }
  .underline2{
    width: 80%;
    height:30%;
    margin-bottom: 10px;
    
  }
  .underline3{
    width: 75%;
    height:30%;
    
    
  }
  #arrow{
    width:50px;
    height:60px;
  }
  
