@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "gameTape";
  src: url("/Game_Tape.ttf") format("truetype");
  font-weight: normal; /* Adjust if needed */
  font-style: normal; /* Adjust if needed */
}

@font-face {
  font-family: "stoneSlab";
  src: url("/Stone_Slab.ttf") format("truetype");
  font-weight: normal; /* Adjust if needed */
  font-style: normal; /* Adjust if needed */
}

@font-face {
  font-family: "brickPixel";
  src: url("/Brick_Pixel.ttf") format("truetype");
  font-weight: normal; /* Adjust if needed */
  font-style: normal; /* Adjust if needed */
}

body {
  color: white;
  background:#000014;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
