@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background:#000014;

}

.redlines{
  width:100vw;
  height:127px;
}
.clouds {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: -10;
  overflow: hidden; 
  /* height: 400px; */
  /* background-color: #FFEBD3; */
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes moveClouds {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.fu, .fb, .su, .lu, .lb, .sd, .tu {
  animation: moveClouds 40s linear infinite;
}

.fu {
  width: 300px;
  height: 150px;
  top: 50px;
  animation-delay: 0s;
}

.fb {
  width: 300px;
  height: 150px;
  top: 200px;
  animation-delay: 10s;
}

.su {
  width: 200px;
  height: 50px;
  top: 100px;
  animation-delay: 5s;
}

.sd {
  width: 250px;
  height: 100px;
  top: 150px;
  margin-top: 100px;
  animation-delay: 15s;
}

.tu {
  width: 300px;
  height: 100px;
  top: 180px;
  animation-delay: 20s;
}

.lu {
  width: 300px;
  height: 150px;
  top: 100px;
  animation-delay: 25s;
}

.lb {
  width: 300px;
  height: 150px;
  top: 250px;
  animation-delay: 30s;
}




/* .clouds {
  position: relative;
  overflow: hidden; 
  width: 100vw;
  height: 300px; 
  display: flex;
}

.cloud-container {
  display: flex;
  width: 400%; 
  animation: moveCloudsSmooth 30s linear infinite;
}

.cloud-container img {
  width: 300px;
  height: 150px;
  margin-right: 50px; 
}

@keyframes moveCloudsSmooth {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
} */

.alcherlogo{
  position: absolute;
  height: 250px;
  width:700px;
  /* top: 150px;
  left:28vw; */
  display: flex;
  top:150px;
  filter: drop-shadow(0 0 60px #FE3989);
}
.content{
  text-align: center;
  padding: 10px 150px;
  color: #FFEBD3;
  
}


.relative {
  position: relative;
}

.video-container {
  width: 100%;
  height: auto;
  margin-top: 4rem;
  object-fit: cover;
}

.stats-section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: linear-gradient(180deg, rgba(0, 0, 20, 0) 0%, #000014 100%);
  padding: 2rem 0;
  color: white;
  text-align: center;
  z-index: 10;
}

.stats-flex {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.stat-item {
  text-align: center;
}

.stat-title {
  font-size: 1.875rem; 
  font-weight: bold;
}



.stat-description {
  color: #9ca3af; 
}
@media screen and (max-width: 1408px) {
  /* .clouds{
    background-color: #9ca3af;
  } */
  .redlines{
    height:100px;
  }
}

@media screen and (max-width: 1216px) {
   /* .clouds{
    background-color: #FE3989;
   } */
   .content{
    padding: 10px 100px;
  }
}

@media(max-width:991px) {
   /* .clouds{
    background-color: #FFEBD3;
   } */
}

@media(max-width:768px) {
  .content{
    padding: 10px 50px;
  }
}

@media(max-width:450px) {
  .content{
    padding: 10px 30px;
  }
  .redlines{
    height:80px;
  }
}









@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
