.mainnav{
  height: 100px;
  padding: 0px 80px 0px 80px;
  background-color: rgb(17, 24, 39);
  display: flex;
  justify-content: space-between;
}
.options ul{
  height: 100%;
  font-family: stoneSlab;
  color: rgba(255, 235, 211, 1);
  display: flex;
  gap: 30px;
}
.options ul li {
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background-color: transparent;
}
.options ul li.active{
  text-shadow: 0 0 10px rgba(254, 57, 137,1), 0 10px 30px rgba(254, 57, 137,1), 0 10px 50px rgba(254, 57, 137,1);
  border-top: 8px solid rgba(254, 57, 137,1);
  color: rgba(254, 57, 137, 1);
}
.options ul li:hover {
  text-shadow: 0 0 10px rgba(254, 57, 137,1), 0 10px 30px rgba(254, 57, 137,1), 0 10px 50px rgba(254, 57, 137,1);
  border-top: 8px solid rgba(254, 57, 137,1);
  color: rgba(254, 57, 137, 1);
}
.getcards {
  position: relative;
  top: 25px;
  width: 159px;
  height: 46px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.getcards:hover {
  scale: 1.2;
}
.modules {
  font-family: stoneSlab;
  color: rgba(255, 235, 211, 1);
  letter-spacing: 1.2px;
  display: flex;
  gap: 10px,
}
.logo {
  position: relative;
  top : 25px;
  height: 4rem;
}

