.mainnav {
  height: 100px;
  padding: 0px 8% 0px 8%;
  background-color: rgb(17, 24, 39);
  display: flex;
  justify-content: space-between;
}
.options ul {
  height: 100%;
  font-family: stoneSlab;
  color: rgba(255, 235, 211, 1);
  display: flex;
  gap: 30px;
}
.options ul li {
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background-color: transparent;
}
.navActive {
  text-shadow: 0 0 10px rgba(254, 57, 137, 1), 0 10px 30px rgba(254, 57, 137, 1),
    0 10px 50px rgba(254, 57, 137, 1);
  border-top: 8px solid rgba(254, 57, 137, 1);
  color: rgba(254, 57, 137, 1);
}
.nav:hover {
  text-shadow: 0 0 10px rgba(254, 57, 137, 1), 0 10px 30px rgba(254, 57, 137, 1),
    0 10px 50px rgba(254, 57, 137, 1);
  color: rgba(254, 57, 137, 1);
}
.getcards {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 25px;
  width: 160px;
  height: 46px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.getcards:hover {
  scale: 1.2;
}

.logo {
  position: relative;
  top: 25px;
  height: 4rem;
  align-items: center;
  justify-content: center;
}

.desc {
  display: none;
}

@media (max-width: 1250px) {
  .options ul {
    font-size: 1vw;
  }
}

@media (max-width: 1080px) {
  .options ul {
    font-size: 0.8vw;
  }
  .nav:hover {
    border-top: 5px solid rgba(254, 57, 137, 1);
  }
  .navActive {
    border-top: 5px solid rgba(254, 57, 137, 1);
  }
}

@media (max-width: 1250px) {
  .options ul {
    gap: 10px;
  }
}

@media (max-width: 720px) {
  .logo {
    height: 2rem;
  }
  .getcards {
    height: 2rem;
  }
}
@media (max-width: 650px) {
  .options {
    display: none;
  }
  .desc {
    display: block;
  }
}
