*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.merch{
    background-color: #000014;
    width: 100%;
    height: fit-content;
    
    /* position: absolute; */
}
.merch_text{
    width:100%;
    height: auto;
}
.whiteTee{
    /* width: 100vw; */
    height: auto;
    justify-self: center;
    align-items: center;
    /* margin-top: 6vh; */
}
.whiteTee1{
    /* margin-left: -40px; */
    transform: rotate(-45deg);
    /* margin-top: 40px; */
}
.merches{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap:-10px; */
}
.merch_btn{
    height: 6vh;
    justify-self: center;
    /* margin-top: 6rem; */
    /* margin-bottom: 6rem; */
    margin-top: 2vh;
    width:auto;
    /* margin-top: 30px; */
    /* margin-bottom: 100px; */
}
.mobile_text{
    display: none;
}

.tshirts{
    justify-self: center;
   scale:1.3;
}

@media screen and (max-width:675px){
    .mobile_text{
        display: block;
        width: 100%;
        height: auto;
    }
    .merch_text{
        display: none;
    }
}

@media screen and (max-width:1300px){
    .tshirts{
        scale:1;
    }
}
@media screen and (max-width:900px){
    .tshirts{
        scale:0.7;
    }
}
