.mainPage {
  display: flex;
  height: 65vh;
  width: 76vw;
  margin-left: 12vw;
  flex-wrap: nowrap;
  align-self: center;
  color: #FFEBD3;
  
}

.left {
  display: flex;
  flex-direction: column;
  width: 30vw;
  z-index: 5;
  overflow: visible;
  height: 35vh;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 1s ease;
  align-self: center;
}
.left.visible{
  opacity: 1;
}

.heading {
  font-size: 5.5vw;
  font-family: "brickPixel";
  padding: 0;
}

/* .enter {
  height: 3.5rem;
  width: 16rem;
  background-color: #f87171; 
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
} */

.center {
  display: flex;
  flex-direction: column;
  max-width: 45vw;
  margin-left: -13.25vw;
  /* align-self: center; */
}
.description{
  margin-top: -5vh;
  max-width: 17vw;
}
.descriptionTxt{
  font-size: 1vw;
  line-height: 1.9vh;
  font-family: "gameTape";
  font-weight: 400;
  color: #FFEBD3B2;
}
.mainImage {
  position: relative;
  width: 0rem; 
  height: 0rem; 
  overflow:hidden;  
  background-color: white;
  transition: width 1s ease, height 1s ease;
  /* object-fit: contain; */
  background-image: url('./_Components/Frame97.png');
  background-size: 45vw 35vw;
  background-repeat: no-repeat;
}

.mainImageExpanded {
  width: 45vw ; 
  height: 35vw; 
}
.image1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 43vw; 
  height: 31vw;
  
  margin-top: 3vw;
  margin-left: 1vw;
  /* overflow: hidden; */
  object-fit: cover;
}


.check {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #3b82f6; 
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.check2 {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #6b7280; 
  color: white;
  border: none;
  border-radius: 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
}

/* .right {

} */
.box1 {
  width: 13vw;
  height: 65vh;
  background-color: black;
  overflow: hidden;
  position: absolute;
  margin-left: 63vw;
  transition: margin left 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* .box1Visible{
  margin-left: 1rem;
} */
.right {
  width: 13vw;
  height: 25vh;
  object-fit: contain;
  padding: 0;
  margin: 5px;
  background-color: black;
  color: whitesmoke;
  font-family: "gameTape";
  padding-top: 5px;
  margin-bottom: -25vh;
  transition: margin-bottom 1s ease;
  color: #FFEBD3B2;
  line-height: 4.5vh;

}
.eventName{
  font-family: "gameTape";
  font-size: 1vw;
}
.right p {
  /* height: 5.5vh; */
  font-size: 1.3vw;
  margin: 5px;
}

.up {
  margin-bottom: 0; /* Slide the content up */
}
.footer{
  height: 100px;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 12vh;
}
.imagelinks{
  display: flex;
  justify-content: space-between;
  /* margin-left: 10vw; */
  
}
.link p{
  letter-spacing: 8%;
  opacity: 40%;
}
.link{
  background-image: url('./_Components/Frame131.png');
  height: 5vh;
  width: 12vw;
  background-size: 12vw 5vh;
  background-repeat: no-repeat;
  font-family: "gameTape";
  color: #FFEBD3;
  display: flex;
  font-size: 1.2vw;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  
}
.link.selected{
  background-image: url('./_Components/FrameForLinks.png');
}
.link.selected p{
  opacity: 100%;
}